.DS_Store
node_modules
.archive
/build
/dist
/docs/archive
/package
/tauri
/srcs/slate-solid/lib
.env
.env.*
!.env.example
.sqlx

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
